numpy<2.0.0
openai==1.45.1
pandas==2.2.2
# pdf2image==1.17.0
Pillow==10.4.0
python-dotenv==1.0.1
rapidfuzz==3.9.3
Requests==2.32.3
streamlit==1.41.1
tqdm==4.66.4
loguru==0.7.2
scikit-learn==1.6.1
matplotlib==3.10.0
streamlit-shadcn-ui==0.1.18
PyMuPDF==1.23.8  # Replace pdf2image
